<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/common-styles.css" />
    <link rel="stylesheet" href="/css/home-styles.css" />
  </head>
  <body>
    <script src="/js/home-script.js"></script>
    <div class="container">
      <div style="margin: 0 auto; padding: 1rem; margin-bottom: 4rem">
        <!-- Genre List -->
        <section class="genre-list">
          <div id="genreContainer"></div>
        </section>

        <!-- Store List -->
        <section class="store-list" id="storeContainer"></section>
      </div>
    </div>
  </body>
</html>
