<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Page</title>
    <link rel="stylesheet" href="/css/common-styles.css" />
    <link rel="stylesheet" href="/css/search-styles.css" />
  </head>
  <body>
    <script src="/js/search-script.js"></script>
    <div class="container">
      <div class="main-content">
        <!-- Genre List -->
        <section class="genre-list">
          <div class="genre-box">
            <img src="/images/ramen.jpeg" alt="" />
            <p>ラーメン</p>
          </div>
          <div class="genre-box">
            <img src="/images/ramen.jpeg" alt="" />
            <p>寿司</p>
          </div>
          <div class="genre-box">
            <img src="/images/ramen.jpeg" alt="" />
            <p>カレー</p>
          </div>
        </section>

        <!-- Store List -->
        <section class="store-list">
          <div class="store-box">
            <a href="#">
              <div class="store-image-container">
                <img src="/images/ramen.jpeg" alt="" class="store-image" />
              </div>
              <div class="store-name">ラーメン太郎</div>
            </a>
          </div>
          <div class="store-box">
            <a href="#">
              <div class="store-image-container">
                <img src="/images/ramen.jpeg" alt="" class="store-image" />
              </div>
              <div class="store-name">寿司次郎</div>
            </a>
          </div>
        </section>

        <!-- No Results Message -->
        <div id="noResults" class="no-results hidden">
          該当する店舗は見つかりませんでした
        </div>
      </div>
    </div>
  </body>
</html>
