<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Page</title>
    <script type="module" src="/js/sampleData.js"></script>
    <script type="module" src="/js/search.js"></script>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/search.css" />
  </head>
  <body>
    <div class="container">
      <div class="main-content">
        <!-- Search Form -->
        <form id="searchForm" class="search-form">
          <input
            type="text"
            id="searchInput"
            class="search-input"
            placeholder="店舗名・ジャンルで検索"
          />
        </form>
        <!-- Genre List -->
        <section class="genre-list" id="genreContainer">
          <div class="genre-box">
            <img src="/images/ramen.jpeg" alt="" />
            <p>ラーメン</p>
          </div>
          <div class="genre-box">
            <img src="/images/ramen.jpeg" alt="" />
            <p>寿司</p>
          </div>
          <div class="genre-box">
            <img src="/images/ramen.jpeg" alt="" />
            <p>カレー</p>
          </div>
        </section>

        <!-- Store List -->
        <section class="store-list" id="storeContainer">
          <div class="store-box">
            <a href="#">
              <div class="store-image-container">
                <img src="/images/ramen.jpeg" alt="" class="store-image" />
              </div>
              <div class="store-name">ラーメン太郎</div>
            </a>
          </div>
          <div class="store-box">
            <a href="#">
              <div class="store-image-container">
                <img src="/images/ramen.jpeg" alt="" class="store-image" />
              </div>
              <div class="store-name">寿司次郎</div>
            </a>
          </div>
        </section>

        <!-- No Results Message -->
        <div id="noResults" class="no-results hidden">
          該当する店舗は見つかりませんでした
        </div>
      </div>
    </div>
  </body>
</html>
